# Question 1

In [13]:
for i in range(1,100):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# Question 2

In [21]:
a = 8 
b = 9.5748 
c = 'Go!' 
d = True
e = [3, 'Oppenheimer'] 
f = {9,8,100}
g= {'India' : 7184, 'Russia' : 7849, 'Canada' : 7435}

In [25]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'set'>
<class 'dict'>

# Question 3

In [45]:
x = [1,2,3,1,1,2,2,4,5,6,7,7,2,1,0,9,10]
y = []
for i in x:
    if i not in y:
        y.append(i)
print(y)
z = [20,100,1000]

for i in z:
    y.append(i)
print(y)

[1, 2, 3, 4, 5, 6, 7, 0, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 0, 9, 10, 20, 100, 1000]

In [47]:
import numpy as np
p = np.array(y)
delete = [5,10]
o = np.delete(p, delete)
print(o)

[   1    2    3    4    5    7    0    9   10  100 1000]

In [48]:
print(np.sort(o))

[   0    1    2    3    4    5    7    9   10  100 1000]

# Question 4

In [52]:
def is_prime(n):
    if n <=1:
        return False
    for i in range(2,n):
            if n%i == 0:
                return False
    else:
        return True

In [57]:
inp = int(input('Enter an integer less than 1000 -> '))
is_prime(inp)

Enter an integer less than 1000 -> 88

False

# Question 5

### Creating and Inserting Data in Directory

In [71]:
def insert(directory,a,b):
    directory[a]=b
    return directory
    
def delete(directory,a):
    if a not in directory:
        return directory
    directory.pop(a)
    return directory

phone_directory = {}

insert(phone_directory,"Amit","9335717017")
insert(phone_directory,"Darshit","7357196782")
insert(phone_directory,"Rohan","8896417563")
insert(phone_directory,"Isha","9418755876")
insert(phone_directory,"Anjali","6397422753")

{'Amit': '9335717017',
 'Darshit': '7357196782',
 'Rohan': '8896417563',
 'Isha': '9418755876',
 'Anjali': '6397422753'}

### Deleting Data in Directory

In [67]:
delete(phone_directory,"Darshit")

{'Amit': '9335717017',
 'Rohan': '9638875219',
 'Isha': '9418755876',
 'Anjali': '6397422753'}

In [70]:
delete(phone_directory,"Vishal")

{'Amit': '9335717017',
 'Darshit': '7357196782',
 'Rohan': '9638875219',
 'Isha': '9418755876',
 'Anjali': '6397422753'}

### Dynamic Updation of Key Values

In [72]:
insert(phone_directory,"Rohan","9638875219")

{'Amit': '9335717017',
 'Darshit': '7357196782',
 'Rohan': '9638875219',
 'Isha': '9418755876',
 'Anjali': '6397422753'}

In [73]:
insert(phone_directory,"Saumya","8896416622")

{'Amit': '9335717017',
 'Darshit': '7357196782',
 'Rohan': '9638875219',
 'Isha': '9418755876',
 'Anjali': '6397422753',
 'Saumya': '8896416622'}

# Question 6

In [75]:
a = int(input('Enter random value '))
b = int(input('Enter random value '))
c = int(input('Enter random value '))
d = a+b
e = b-c
print(d)
print(e)

Enter random value 66
Enter random value 77
Enter random value 88
143
-11

In [76]:
print(d>=e)

True

In [77]:
print(d!=e)

True

In [78]:
print(e<=d)

True

In [79]:
print(e==d)

False

# Question 7

In [80]:
def binary(num):
    print(bin(num))

def hexadecimal(num):
    print(hex(num))
    
def octal(num):
    print(oct(num))

In [84]:
binary(84)
hexadecimal(84)
octal(84)

0b1010100
0x54
0o124

In [85]:
binary(101)
hexadecimal(101)
octal(101)

0b1100101
0x65
0o145

In [92]:
num_1 = 84
right_shift = num >> 2
print(bin(right_shift))

0b1010

In [93]:
num_2 = 101
left_shift = num << 2
print(bin(left_shift))

0b10101000

In [94]:
##bitwise or operation
or_op = right_shift | left_shift
print(bin(or_op))

0b10101010

In [95]:
##bitwise and operation
and_op = right_shift & left_shift
print(bin(and_op))

0b1000

# Question 8

In [96]:
##Part A
a = (2,5,5,3,2,5)
j = 0
for i in a:
    if i == 5:
        j+=1
print(j)

3

In [97]:
##Part B
b = ('orange', 'apples', 7 ,8)
print(b*3)

('orange', 'apples', 7, 8, 'orange', 'apples', 7, 8, 'orange', 'apples', 7, 8)

In [101]:
##Part C
nums = (4,9)
x,y = nums
nums = y,x

In [102]:
print(nums)

(9, 4)